#myheader{
    background:yellow;
}

#mymenu{
    background: green;
}

#mycontent{
    background: turquoise;
}

#myfooter{
    background: blue;
}
html,
	body {
	  height: 100%;
      width: 150px;
      float: left;
      font-size: 20px;
      list-style: none;
      text-decoration: none;
      align-self: hover;
      content:160px;

	}
	